.page {
    max-width: 1140px;
    margin   : 0 auto;

    &__header {
        margin-bottom: 50px;
    }
}

.row {
    display      : flex;
    width        : 100%;
    margin-bottom: 50px;
}

.column {
    width    : 100%;
    flex-wrap: nowrap;

    &_left {
        margin-right: 40px;
    }
}

@media (max-width: 708px) {

    .row {
        flex-wrap    : wrap;
        margin-bottom: 20px;
    }

    .column {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &_left {
            margin-right: 0px;
        }
    }
}