.page {
    max-width: 1140px;
    margin   : 0 auto;

    &__header {
       margin-bottom: 50px;
    }
}

.row {
    display: flex;
    width  : 100%;
    margin-bottom: 50px;
}

.column {
    width    : 100%;
    flex-wrap: nowrap;

    &_left {
        margin-right: 40px;
    }
}