.tasks-list {

    &__label {
        font-family  : Popins, sans-serif;
        font-size    : 1.29rem;
        margin-bottom: 30px;
    }

    &__item {
        margin-right: 10px;

        &:not(:last-child) {
            border-bottom : 0.5px solid #e0e0e0;
            padding-bottom: 20px;
            margin-bottom : 20px;
        }
    }
}