.main-header {
    width: 140px;
    margin-right: 45px;
    flex-direction: column;
    align-items: center;
}

.main-nav {
    padding: 5px;
    font-style: italic;
}

.main-nav-logo {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.main-nav__list-item-link {
    margin-bottom: 35px;
    align-items: center;
}

.main-nav__list-item-link::before {
    content: "";
    min-width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.main-nav__list-item-link--tastemakers::before {
    background-image: url("../images/header/food-icon.svg");
}

.main-nav__list-item-link--blog::before {
    background-image: url("../images/header/book.svg");
}

.main-nav__list-item-link--aList::before {
    background-image: url("../images/header/a-list-icon.svg");
}

.main-nav__list-item-link--contribure::before {
    background-image: url("../images/header/camera-icon.svg");
}

.main-nav__list-item-link--about::before {
    background-image: url("../images/header/about-icon.svg");
}

.main-header__tweet {
    width: 100%;
}

.main-header__tweet-title {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.86rem;
    text-transform: uppercase;
    border-bottom: 1px dotted #e5e5e5;
    padding-bottom: 5px;
    font-weight: 400;
}

.main-header__tweet-conversation,
.main-header__tweet-community {
    align-items: center;
    font-style: italic;
    font-size: 0.71rem;
    line-height: 1.2;
    padding: 10px 10px 10px 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.main-header__tweet-conversation::before,
.main-header__tweet-community::before {
    content: "";
    background-image: url("../images/header/tweet-icon.svg");
    background-repeat: no-repeat;
    margin: 0 3px;
    min-width: 19px;
    height: 14px;
}

.main-header__tweet-description {
    font-style: italic;
    font-size: 0.71rem;
    line-height: 1.9;
}

@media (max-width: 991px) {
    .main-wrapper__top {
        display: block;
    }

    .main-header {
        width: 100%;
        margin-bottom: 30px;
    }

    .main-header__tweet {
        display: none;
    }

    .main-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .main-nav-logo,
    .main-nav__list-item-link  {
        margin-bottom: 0;
    }

    .main-nav__list {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-nav__list-item-link {
        flex-direction: column;
    }

    .main-nav__list-item-link:before {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .main-nav__logo-link {
        padding-right: 15px;
    }

    .main-nav__list {
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    .main-nav__list-item-link:before {
        display: none;
    }
}

@media(max-width: 479px) {
    .main-nav__list {
        margin-bottom: 30px;
    }
    
    .main-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-nav__list {
        width: 100%;
    }

    .main-nav__logo-link {
        order: 1;
    }
}
