@import "../../../../styles/mixins";
@import "../../../../styles/templates";

.auth-form {
  @include flexContainerProperties($direction: column);
  box-shadow: 0px 4px 40px #8ca4d8;
  padding: 20px;

  &__item {
    @include flexContainerProperties($mainAxisAlignment: space-between);
    margin-bottom: 20px;
  }

  &__item-label {
    margin-right: 10px;
  }

  &__submit {
    @extend %addButton;
    align-self: center;
    padding: 10px 30px;
  }

  &__error {
    color: #ff0000;
    margin-top: 20px;
    text-align: center;
  }
}
