.button {
    cursor: pointer;
    border: none;

    &:active {
        box-shadow: 0px 0px 5px #666666;
    }

    &:disabled {
        background-color: #a3a0a0;
        opacity         : 0.8;
    }
}