.member {
    width   : 23px;
    height  : 23px;
    position: relative;
    cursor  : pointer;

    &::after {
        display         : none;
        content         : attr(data-member);
        position        : absolute;
        left            : 0;
        bottom          : 0;
        transform       : translateY(110%);
        padding         : 3px 5px;
        font-size       : 0.7rem;
        text-align      : center;
        color           : #fff;
        background-color: #000;
        border-radius   : 10px;
    }
    
    &:hover::after {
        display: block;
    }
}