@import "../../../styles/mixins";

.round-icon {
  @include flexContainerProperties(
    $crossAxisAligment: center,
    $mainAxisAlignmen: center
  );
  width: 23px;
  height: 23px;
  border-radius: 12px;
}
