.picture-indicator-list {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}