.navigation-list {
    @extend %listStyleReset;
    @include flexContainerProperties();

    margin: 0 -0.5em;

    &__item {
        padding     : 0 0.5em;
        border-right: 1px solid $main-footer__nav-item-border-right;

        &:last-child {
            border: none;
        }
    }

    &__item-link {
        @include fontProperties($size: 0.86rem, $lSpasing: -0.02em);
        @extend %linkStyleBase;
    }
}