.social-networks-list {
    @extend %listStyleReset;
    @include flexContainerProperties();

    &__item-link {
        margin-left: 5px;
        display    : block;
    }

    &__item-img {
        width : 32px;
        height: 32px;
    }
}