
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  font-size: 14px;
  height   : 100vh;
  overflow : hidden;
}

body {
  margin     : 0;
  font-family: 'Montserrat', sans-serif;
}