@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin     : 0;
  padding    : 50px;
  font-family: 'Roboto', sans-serif;
  font-size  : 14px;
}
