.search-form {
    display    : flex;
    align-items: center;

    &__item-field {
        width  : 185px;
        padding: 5px;
        border : none;

        &::placeholder {
            font-size: 0.85rem;
            color    : #90a0b7;
        }
    }

    &::before {
        content         : '';
        margin-right    : 5px;
        width           : 14px;
        height          : 14px;
        display         : block;
        background-image: url('./assets/searchIcon.svg');
    }
}