.tasks-box {

    &__body-item {
        margin-bottom: 40px;
    }

    &__body-item-title {
        margin-bottom: 20px;

        &_inactive {
            display        : flex;
            align-items    : center;
            justify-content: flex-start;
        }
    }

    &__body-item-title-icon {
        margin-left: 10px;
        padding    : 3px 10px;
    }

    &__body-item-content {
        height    : 220px;
        overflow-y: auto;

        &_transparent {
            opacity: 0.4;

            &:hover {
                opacity: 1;
            }
        }
    }
}