.task-form {
    width          : 500px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    &__item {
        margin-bottom  : 20px;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
    }

    &__item-label-limitation {
        font-size: 0.6rem;
    }

    &__item-content,
    &__item-subject {
        padding: 5px;
    }

    &__item-content {
        height: 100px;
    }

    &__item-select {
        padding: 2px;
    }

    &__btn-submit {
        align-self   : center;
        font-family  : Poppins;
        font-size    : 1.2rem;
        margin-top   : 50px;
        padding      : 10px 60px;
        border-radius: 10px;
        background   : #884cb2;
        color        : #fff;
    }
}