@import "../../../../styles/mixins";
@import "../../../../styles/templates";

.task-form {
  @include flexContainerProperties(
    $direction: column,
    $mainAxisAlignment: space-between
  );
  width: 500px;

  &__item {
    @include flexContainerProperties(
      $crossAxisAligment: center,
      $mainAxisAlignment: space-between
    );
    margin-bottom: 20px;
  }

  &__item-label-limitation {
    font-size: 0.6rem;
  }

  &__item-content,
  &__item-subject {
    padding: 5px;
  }

  &__item-content {
    height: 100px;
  }

  &__item-select {
    padding: 2px;
  }

  &__btn-submit {
    @extend %addButton;
    align-self: center;
    margin-top: 50px;
    padding: 20px 60px;
  }
}
