 $light-gray :#e5e5e5;
 $white      :#fff;
 $black      :#000;
 $aquarium   :#34aca7;

 //main
 $font-default: $black;
 $main-link: $aquarium;

 //header
 //widgets
 $widgets-list__item-title-border : $light-gray;
 $widgets-list__item-link-border  :$light-gray;


 //footer
 $main-footer-border-top            : $light-gray;
 $main-footer__nav-item-border-right: $light-gray;
 $main-footer__copyright-color      : $light-gray;