.widgets {

    &-list {
        @extend %listStyleReset;

        &__item-title {
            @include fontProperties($family: #{Verdana, Arial, sans-serif},
                $size: 0.86rem, $transform: uppercase);

            border-bottom : 1px dotted $widgets-list__item-title-border;
            padding-bottom: 5px;
        }

        &__item-link {
            @include flexContainerProperties($crossAxisAligment: center);

            @include fontProperties($size: 0.71rem, $lHeight: 1.2, $style: italic, $color: inherit);

            @extend %linkStyleBase;

            padding      : 10px 10px 10px 0;
            border       : 1px solid $widgets-list__item-link-border;
            border-radius: 5px;

            &::before {
                @include bgProperties($bgImage: $twitter-icon);

                content  : "";
                margin   : 0 3px;
                min-width: 19px;
                height   : 14px;
                height   : 10px;
            }
        }

        &__item-description {
            @include fontProperties($size: 0.71rem, $lHeight: 1.2, $style: italic);

            font-size  : 0.71rem;
            line-height: 1.9;
        }
    }
}