.members {
    display    : flex;
    align-items: center;
    width      : 115px;

    &__list {
        display    : flex;
        align-items: center;
    }

    &__list-item {
        position: relative;

        @for $i from 0 through 4 {
            &_#{$i} {
                left: -8px*$i;
            }
        }
    }

    &__indicator {
        position        : relative;
        left            : -32px;
        font-family     : 'Roboto', sans-serif;
        font-weight     : 500;
        font-size       : 0.64rem;
        background-color: #6fcf97;
        color           : #fff;
    }

    &__indicator-text {
        text-overflow: ellipsis;
        white-space  : nowrap;
        overflow     : hidden;
        padding      : 0.5px;
    }
}