.add-new-task {
    padding      : 10px 30px;
    border       : none;
    border-radius: 10px;
    background   : #884cb2;
    font-family  : Poppins;
    font-size    : 0.85rem;
    color        : #fff;
    display      : flex;
    align-items  : center;

    &::before {
        content          : '';
        display          : block;
        background-image : url('./assets/plusAdd.svg');
        background-repeat: no-repeat;
        width            : 18px;
        height           : 18px;
        margin-right     : 5px;
    }
}